<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
    </head>

    <body>
        <h1>The Beast School</h1>

        <section style="font-size: 14px">
            <hr>
            <h4 style="color:green">dev-panel</h2>
            <ul>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="/student_search">Search</a></li>
                <li><a href="/add_student">Add Student</a></li>
                <li><a href="/create_school_subject">Create School Subject</a></li>
                <li><a href="/compose_message">Compose Message</a></li>
                <li><a href="/list_users">List Users</a></li>
                <li><a href="/login'">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/class/1">Class class-1a</a></li>
                <li><a href="/student/1">Student stud-1</a></li>
                <li><a href="/grades/1/1">Grades stud-1 sub-1</a></li>
                <li><a href="/class_presence/1/2018-03-01">Class Presence stud-1 date-2018-03-01</a></li>
                <li><a href="/reset_password/1">Reset Password stud-1</a></li>
            </ul>
            <hr>
        </section>

        <ul>
            {% block content %} {% endblock %}
        </ul>
        <footer>
            <p>{{ request.user.username }}</p>
            {% if request.user.is_authenticated %}
                <p><a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
                <p><a href="{% url 'login' %}">Login</a></p>
            {% endif %}
            <p>Data: {{ date }}</p>
            <p>Data: {{ version }}</p>
        </footer>
    </body>

</html>

<!--celery, huey , task huey-->
